// Fonts
$font-nunito: 'Nunito', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;

// Primary Colors
$primary-1: #FDF5DA;
$primary-2: #FBEBB5;
$primary-3: #F8E090;
$primary-4: #F4CC46;
$primary-5: #F4CC46;
$primary-6: #BE8D22;
$primary-7: #302309;
$primary-8: #8F6A1A;

// Text Colors
$text-1: #E6E6E6;
$text-2: #CCCCCC;
$text-3: #B3B3B3;
$text-4: #999999;
$text-5: #808080;
$text-6: #666666;
$text-7: #4D4D4D;
$text-8: #333333;
$text-9: #1A1A1A;